/*############## global ########""*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --global-background-color: #1b1b1b;
    --global-text-color: #ffffff;
    --text-hover-color: #6e6e6e;
    --gray-color: rgba(255, 255, 255, 0.432);
    --color-delete: #ffe07b;

}



html{
    background-color: var(--global-background-color);
    color:var(--global-text-color);

}
a{
    text-decoration: none;
    cursor: pointer;
    color: var(--global-text-color);
}
a:hover {
    color:var(--color-delete);
}
input{
    width: 70%;
    margin: 10px auto;
    padding: 5px;
    border:none;
}

input:focus{
    border: solid 1px var(--link-background-color);
}



header nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

header nav ul{
    list-style-type: none;
    display:inline-flex;

}

header nav ul li{
    margin:5px;
}

@media screen and (max-width:640px) {
    header nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand {
        margin-bottom: 30px;
    }
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    box-shadow: 0 10px 15px var(--gray-color);
}

.modals-wrapper{
    width: 100%;
    height: 60%;
    background-color: var(--global-background-color);
    display: none;
    justify-content: center;
    align-items: center;
    position: initial;
}

.modal{
    background-color: var(--global-background-color);
    min-width: 400px;
    min-height: 400px;
    padding: 20px;
}


#login-modal, #signup-modal{
    
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#password-modal, #add-password-modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copy{
    cursor: pointer;
}
/*######## card ########"*/
.container{
    margin-top: 20px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 80px;
}
.card{
    background-color: var(--text-hover-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 20px;

}

.actions{
    cursor: pointer;
    border: solid 0.3px var(--link-background-color);
    padding: 5px;

}
.actions a{
    display: none;
    background-color: var(--color-delete);
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

.actions:hover .action-item{
    display: flex;

}
@media screen and (max-width:680px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:420px){
    .container{
        grid-template-columns: 1fr;
    }
}